We see tons of different stores here and there through the web. Internet made it possible to trade with anyone and everywhere. We can buy goods without leaving our house, we can compare prices in different stores within seconds, we can find what we really want and do not accept just the first more or less suitable offer. And I believe it would be really interesting to look at this world through the data it produces. 

This is a transnational dataset which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Most sales comes from UK and about 90% customers also are from UK, outside UK, most of the sales are from Europe. In my research I analyzed and studied this dataset and used time series analysis to build a model using ARIMA for the top products and total sales to find the best model that can help and guide the company future decisions.

## Libraries and Packeges

As always, we start our analysis by setting up our environment and by importing necessary libraries.

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import random
import seaborn as sns
import math
import re
import plotly.express as px
plt.style.use('fivethirtyeight')
%matplotlib inline
from sklearn import metrics
import time, warnings
import datetime as dt
import geopandas
from sklearn.metrics import average_precision_score
from scipy import stats
from matplotlib import pylab
from matplotlib import pyplot
from collections import defaultdict
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix,accuracy_score,roc_curve,classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.cluster as cluster
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score
from sklearn.cluster import KMeans
from pandas.plotting import scatter_matrix
from sklearn.decomposition import PCA
from sklearn import mixture
from sklearn.metrics import f1_score
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_pacf,plot_acf
from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.model_selection import TimeSeriesSplit
import pmdarima as pm

from math import ceil

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.manifold import TSNE
import plotly
plotly.offline.init_notebook_mode(connected=True)

from ipywidgets import interact, interactive, fixed, interact_manual,VBox,HBox,Layout
import ipywidgets as widgets


sns.set()
warnings.filterwarnings("ignore")

/Users/AMINO/anaconda3/envs/learn-env/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/Users/AMINO/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/externals/six.py:31: DeprecationWarning:

The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).

/Users/AMINO/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning:

sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.

In [2]:
pyplot.style.use('fivethirtyeight')

## Cleaning the Data & EDA

In [3]:
# Reading the dataset

Original_df = pd.read_excel (r'Online Retail.xlsx')
Original_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
# Checking the shape

Original_df.shape

(541909, 8)

In [5]:
# Checking my column IDs

Original_df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
# How many unique values I have

Original_df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [7]:
# Checking on the data type

Original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [8]:
# Checking the data-types of the data

Original_df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [9]:
# What are my countries 

Original_df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [10]:
# Checking the different values for country in the dataset

Original_df['Country'].value_counts().head(20)

United Kingdom     495478
Germany              9495
France               8557
EIRE                 8196
Spain                2533
Netherlands          2371
Belgium              2069
Switzerland          2002
Portugal             1519
Australia            1259
Norway               1086
Italy                 803
Channel Islands       758
Finland               695
Cyprus                622
Sweden                462
Unspecified           446
Austria               401
Denmark               389
Japan                 358
Name: Country, dtype: int64

In [11]:
# Checking on the values 

Original_df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [12]:
# Getting some more general information about the data

print("Number of transactions: ", Original_df['InvoiceNo'].nunique())
print("Number of products bought: ",Original_df['StockCode'].nunique())
print("Number of customers:", Original_df['CustomerID'].nunique() )
print("Percentage of customers NA: ", round(Original_df['CustomerID'].isnull().sum() * 100 / len(Original_df),2),"%" )
print('Number of countries: ',Original_df['Country'].nunique())

Number of transactions:  25900
Number of products bought:  4070
Number of customers: 4372
Percentage of customers NA:  24.93 %
Number of countries:  38

In [13]:
# Checking how many quantity of products have been sold online from each country

Products_Sold = Original_df['Quantity'].groupby(Original_df['Country']).agg('sum').sort_values(ascending = False)
print(Products_Sold)

Country
United Kingdom          4263829
Netherlands              200128
EIRE                     142637
Germany                  117448
France                   110480
Australia                 83653
Sweden                    35637
Switzerland               30325
Spain                     26824
Japan                     25218
Belgium                   23152
Norway                    19247
Portugal                  16180
Finland                   10666
Channel Islands            9479
Denmark                    8188
Italy                      7999
Cyprus                     6317
Singapore                  5234
Austria                    4827
Hong Kong                  4769
Israel                     4353
Poland                     3653
Unspecified                3300
Canada                     2763
Iceland                    2458
Greece                     1556
USA                        1034
United Arab Emirates        982
Malta                       944
Lithuania                   652
Czech Republic              592
European Community          497
Lebanon                     386
Brazil                      356
RSA                         352
Bahrain                     260
Saudi Arabia                 75
Name: Quantity, dtype: int64

### Checking and dealing with null/missing values

In [14]:
# Checking for Missing Values

Original_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

As you can see CustomerID has a lot of null values and since we are doing sells prediction  this feature cannot help our prediction at this moment so we are just going to drop the CustomerID column

In [15]:
df = Original_df.drop(columns=['CustomerID'])

In [16]:
# Checking to see if NaN values were filtered out

df.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
Country           0
dtype: int64

As you can see we still have null values left in the description so in our can instead deleting those rows we are going to impute them with 'UNKNOWN ITEM' at the moment

In [17]:
df['Description'] = df['Description'].fillna('UNKNOWN ITEM')

In [18]:
# Checking to see if NaN values were filtered out

df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
Country        0
dtype: int64

In [19]:
# WE still have 1 missing value and we are going to clear that out

df = df[df['Description'].notnull()]

In [20]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
Country        0
dtype: int64

In [21]:
# Lets make all the describtion upper case so it looks more clean

df['Description'] = df['Description'].str.upper()

In [22]:
# Lets check to make sure if it worked and see what customers bought often

df['Description'].value_counts().head()

WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
Name: Description, dtype: int64

In [23]:
df.describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

### Exploring the negative Quantity and UnitePrice

In [24]:
df[df['Quantity'] < 0].head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
141,C536379,D,DISCOUNT,-1,2010-12-01 09:41:00,27.50,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,United Kingdom
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,2010-12-01 10:24:00,0.29,United Kingdom
239,C536391,21484,CHICK GREY HOT WATER BOTTLE,-12,2010-12-01 10:24:00,3.45,United Kingdom
240,C536391,22557,PLASTERS IN TIN VINTAGE PAISLEY,-12,2010-12-01 10:24:00,1.65,United Kingdom
241,C536391,22553,PLASTERS IN TIN SKULLS,-24,2010-12-01 10:24:00,1.65,United Kingdom
939,C536506,22960,JAM MAKING SET WITH JARS,-6,2010-12-01 12:38:00,4.25,United Kingdom

As you can see all the negative quantity starts with 'C' in InvoiceNo. The negative quantities appears to be return/canceled/discount, and maybe unknown items.

In [25]:
# For our analysis lets remove them for now

df = df[df['Quantity'] > 0]

In [26]:
df.describe()

            Quantity      UnitPrice
count  531285.000000  531285.000000
mean       10.655262       3.857296
std       156.830323      41.810047
min         1.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   13541.330000

As we can see we still have negative UnitPrice so let's filter out those as well

In [27]:
df = df[df['UnitPrice'] > 0]

In [28]:
df.describe()

            Quantity      UnitPrice
count  530104.000000  530104.000000
mean       10.542037       3.907625
std       155.524124      35.915681
min         1.000000       0.001000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   13541.330000

In [29]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom

### Checking for duplicates

In [30]:
# Checking for duplicates

print("Number of duplicated transactions:", len(df[df.duplicated()]))

Number of duplicated transactions: 5226

In [31]:
# Lets remove the duplicates

df.drop_duplicates(inplace = True)

In [32]:
# Checking again for duplicates

print("Number of duplicated transactions:", len(df[df.duplicated()]))

Number of duplicated transactions: 0

In [33]:
df.shape

(524878, 7)

## Feature Engineering

In [34]:
df.isnull().values.any()

False

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 524878 entries, 0 to 541908
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    524878 non-null  object
 1   StockCode    524878 non-null  object
 2   Description  524878 non-null  object
 3   Quantity     524878 non-null  int64
 4   InvoiceDate  524878 non-null  datetime64[ns]
 5   UnitPrice    524878 non-null  float64
 6   Country      524878 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 32.0+ MB

### Creating total sales column and Removing outliers

In [36]:
# Creating a another new column with the total value of each order

df['Total_Sales_Amount'] = df['Quantity'] * df['UnitPrice']

In [37]:
# sorting the dataset by sales amount

df.sort_values(by = 'Total_Sales_Amount')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount
279045,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,United Kingdom,0.001
359871,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,United Kingdom,0.001
157195,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,United Kingdom,0.001
361741,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,United Kingdom,0.001
423991,573174,16218,CARTOON PENCIL SHARPENERS,1,2011-10-28 10:25:00,0.060,United Kingdom,0.060
...,...,...,...,...,...,...,...,...
299982,A563185,B,ADJUST BAD DEBT,1,2011-08-12 14:50:00,11062.060,United Kingdom,11062.060
15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.330,United Kingdom,13541.330
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,United Kingdom,38970.000
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,United Kingdom,77183.600
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,United Kingdom,168469.600

Let's break down our InvoiceDate to year, month, hour, and other categories

In [38]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])
df['Year']=df.InvoiceDate.dt.year
df['Month']=df.InvoiceDate.dt.month
df['Week']=df['InvoiceDate'].dt.week
df['Year_Month']=df.InvoiceDate.dt.to_period('M')
df['Hour']=df.InvoiceDate.dt.hour
df['Day']=df.InvoiceDate.dt.day
df['WeekDay'] = df.InvoiceDate.dt.day_name()
df['Quarter'] = df.Month.apply(lambda m:'Q'+str(ceil(m/4)))
df['Date']=pd.to_datetime(df[['Year','Month','Day']])

In [39]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom,15.30,2010,12,48,2010-12,8,1,Wednesday,Q3,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom,20.34,2010,12,48,2010-12,8,1,Wednesday,Q3,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom,22.00,2010,12,48,2010-12,8,1,Wednesday,Q3,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom,20.34,2010,12,48,2010-12,8,1,Wednesday,Q3,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom,20.34,2010,12,48,2010-12,8,1,Wednesday,Q3,2010-12-01

In [40]:
df.dtypes

InvoiceNo                     object
StockCode                     object
Description                   object
Quantity                       int64
InvoiceDate           datetime64[ns]
UnitPrice                    float64
Country                       object
Total_Sales_Amount           float64
Year                           int64
Month                          int64
Week                           int64
Year_Month                 period[M]
Hour                           int64
Day                            int64
WeekDay                       object
Quarter                       object
Date                  datetime64[ns]
dtype: object

In [41]:
top_products = df['Description'].value_counts()[:15]

Looking for top products

In [42]:
top_products

WHITE HANGING HEART T-LIGHT HOLDER    2311
JUMBO BAG RED RETROSPOT               2109
REGENCY CAKESTAND 3 TIER              2007
PARTY BUNTING                         1699
LUNCH BAG RED RETROSPOT               1581
ASSORTED COLOUR BIRD ORNAMENT         1476
SET OF 3 CAKE TINS PANTRY DESIGN      1392
PACK OF 72 RETROSPOT CAKE CASES       1352
LUNCH BAG  BLACK SKULL.               1301
NATURAL SLATE HEART CHALKBOARD        1255
JUMBO BAG PINK POLKADOT               1232
HEART OF WICKER SMALL                 1219
JUMBO STORAGE BAG SUKI                1194
PAPER CHAIN KIT 50'S CHRISTMAS        1184
JUMBO SHOPPER VINTAGE RED PAISLEY     1180
Name: Description, dtype: int64

Analyzing and saving top products

In [43]:
dfp1 = df[df['Description'] == 'WHITE HANGING HEART T-LIGHT HOLDER']

In [44]:
dfp1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom,15.3,2010,12,48,2010-12,8,1,Wednesday,Q3,2010-12-01
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,United Kingdom,15.3,2010,12,48,2010-12,9,1,Wednesday,Q3,2010-12-01
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,United Kingdom,15.3,2010,12,48,2010-12,9,1,Wednesday,Q3,2010-12-01
220,536390,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,2010-12-01 10:19:00,2.55,United Kingdom,163.2,2010,12,48,2010-12,10,1,Wednesday,Q3,2010-12-01
262,536394,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,2010-12-01 10:39:00,2.55,United Kingdom,81.6,2010,12,48,2010-12,10,1,Wednesday,Q3,2010-12-01

In [45]:
dfp2 = df[df['Description'] == 'JUMBO BAG RED RETROSPOT']
dfp2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
177,536386,85099B,JUMBO BAG RED RETROSPOT,100,2010-12-01 09:57:00,1.65,United Kingdom,165.00,2010,12,48,2010-12,9,1,Wednesday,Q3,2010-12-01
234,536390,85099B,JUMBO BAG RED RETROSPOT,100,2010-12-01 10:19:00,1.65,United Kingdom,165.00,2010,12,48,2010-12,10,1,Wednesday,Q3,2010-12-01
533,536409,85099B,JUMBO BAG RED RETROSPOT,2,2010-12-01 11:45:00,1.95,United Kingdom,3.90,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01
790,536464,85099B,JUMBO BAG RED RETROSPOT,1,2010-12-01 12:23:00,1.95,United Kingdom,1.95,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01
1069,536522,85099B,JUMBO BAG RED RETROSPOT,1,2010-12-01 12:49:00,1.95,United Kingdom,1.95,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01

In [46]:
dfp3 = df[df['Description'] == 'REGENCY CAKESTAND 3 TIER']
dfp3.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
880,536477,22423,REGENCY CAKESTAND 3 TIER,16,2010-12-01 12:27:00,10.95,United Kingdom,175.20,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01
936,536502,22423,REGENCY CAKESTAND 3 TIER,2,2010-12-01 12:36:00,12.75,United Kingdom,25.50,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01
1092,536525,22423,REGENCY CAKESTAND 3 TIER,2,2010-12-01 12:54:00,12.75,United Kingdom,25.50,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01
1155,536528,22423,REGENCY CAKESTAND 3 TIER,1,2010-12-01 13:17:00,12.75,United Kingdom,12.75,2010,12,48,2010-12,13,1,Wednesday,Q3,2010-12-01
1197,536530,22423,REGENCY CAKESTAND 3 TIER,1,2010-12-01 13:21:00,12.75,United Kingdom,12.75,2010,12,48,2010-12,13,1,Wednesday,Q3,2010-12-01

In [47]:
dfp4 = df[df['Description'] == 'PARTY BUNTING']
dfp4.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
5535,536864,47566,PARTY BUNTING,1,2010-12-03 11:27:00,9.32,United Kingdom,9.32,2010,12,48,2010-12,11,3,Friday,Q3,2010-12-03
5656,536865,47566,PARTY BUNTING,3,2010-12-03 11:28:00,9.32,United Kingdom,27.96,2010,12,48,2010-12,11,3,Friday,Q3,2010-12-03
6022,536876,47566,PARTY BUNTING,2,2010-12-03 11:36:00,8.47,United Kingdom,16.94,2010,12,48,2010-12,11,3,Friday,Q3,2010-12-03
6572,536956,47566,PARTY BUNTING,5,2010-12-03 12:43:00,4.65,United Kingdom,23.25,2010,12,48,2010-12,12,3,Friday,Q3,2010-12-03
7904,537065,47566,PARTY BUNTING,5,2010-12-05 11:57:00,4.65,France,23.25,2010,12,48,2010-12,11,5,Sunday,Q3,2010-12-05

In [48]:
dfp5 = df[df['Description'] == 'LUNCH BAG RED RETROSPOT']
dfp5.head(0)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, Country, Total_Sales_Amount, Year, Month, Week, Year_Month, Hour, Day, WeekDay, Quarter, Date]
Index: []

In [49]:
dfp6 = df[df['Description'] == 'ASSORTED COLOUR BIRD ORNAMENT']
dfp6.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,United Kingdom,54.08,2010,12,48,2010-12,8,1,Wednesday,Q3,2010-12-01
250,536392,84879,ASSORTED COLOUR BIRD ORNAMENT,16,2010-12-01 10:29:00,1.69,United Kingdom,27.04,2010,12,48,2010-12,10,1,Wednesday,Q3,2010-12-01
265,536395,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 10:47:00,1.69,United Kingdom,54.08,2010,12,48,2010-12,10,1,Wednesday,Q3,2010-12-01
458,536408,84879,ASSORTED COLOUR BIRD ORNAMENT,8,2010-12-01 11:41:00,1.69,United Kingdom,13.52,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01
769,536460,84879,ASSORTED COLOUR BIRD ORNAMENT,24,2010-12-01 12:22:00,1.69,United Kingdom,40.56,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01

In [50]:
dfp7 = df[df['Description'] == 'PACK OF 72 RETROSPOT CAKE CASES']
dfp7.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,United Kingdom,50.4,2010,12,48,2010-12,9,1,Wednesday,Q3,2010-12-01
268,536395,21212,PACK OF 72 RETROSPOT CAKE CASES,24,2010-12-01 10:47:00,0.55,United Kingdom,13.2,2010,12,48,2010-12,10,1,Wednesday,Q3,2010-12-01
408,536404,21212,PACK OF 72 RETROSPOT CAKE CASES,24,2010-12-01 11:29:00,0.55,United Kingdom,13.2,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01
469,536408,21212,PACK OF 72 RETROSPOT CAKE CASES,24,2010-12-01 11:41:00,0.55,United Kingdom,13.2,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01
657,536415,21212,PACK OF 72 RETROSPOT CAKE CASES,2,2010-12-01 11:57:00,0.55,United Kingdom,1.1,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01

In [51]:
dfp8 = df[df['Description'] == 'LUNCH BAG  BLACK SKULL.']
dfp8.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
413,536404,20727,LUNCH BAG BLACK SKULL.,10,2010-12-01 11:29:00,1.65,United Kingdom,16.50,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01
546,536412,20727,LUNCH BAG BLACK SKULL.,3,2010-12-01 11:49:00,1.65,United Kingdom,4.95,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01
1426,536542,20727,LUNCH BAG BLACK SKULL.,10,2010-12-01 14:11:00,1.65,United Kingdom,16.50,2010,12,48,2010-12,14,1,Wednesday,Q3,2010-12-01
2315,536576,20727,LUNCH BAG BLACK SKULL.,60,2010-12-01 16:11:00,1.45,United Kingdom,87.00,2010,12,48,2010-12,16,1,Wednesday,Q3,2010-12-01
2338,536579,20727,LUNCH BAG BLACK SKULL.,60,2010-12-01 16:16:00,1.45,United Kingdom,87.00,2010,12,48,2010-12,16,1,Wednesday,Q3,2010-12-01

In [52]:
dfp9 = df[df['Description'] == 'HEART OF WICKER SMALL']
dfp9.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
160,536384,22469,HEART OF WICKER SMALL,40,2010-12-01 09:53:00,1.45,United Kingdom,58.00,2010,12,48,2010-12,9,1,Wednesday,Q3,2010-12-01
195,536388,22469,HEART OF WICKER SMALL,12,2010-12-01 09:59:00,1.65,United Kingdom,19.80,2010,12,48,2010-12,9,1,Wednesday,Q3,2010-12-01
392,536404,22469,HEART OF WICKER SMALL,12,2010-12-01 11:29:00,1.65,United Kingdom,19.80,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01
634,536415,22469,HEART OF WICKER SMALL,5,2010-12-01 11:57:00,1.65,United Kingdom,8.25,2010,12,48,2010-12,11,1,Wednesday,Q3,2010-12-01
995,536520,22469,HEART OF WICKER SMALL,1,2010-12-01 12:43:00,1.65,United Kingdom,1.65,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01

In [53]:
dfp10 = df[df['Description'] == 'JUMBO SHOPPER VINTAGE RED PAISLEY']
dfp10.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Total_Sales_Amount,Year,Month,Week,Year_Month,Hour,Day,WeekDay,Quarter,Date
108,536381,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:41:00,1.95,United Kingdom,19.50,2010,12,48,2010-12,9,1,Wednesday,Q3,2010-12-01
145,536382,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:45:00,1.95,United Kingdom,19.50,2010,12,48,2010-12,9,1,Wednesday,Q3,2010-12-01
881,536477,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 12:27:00,1.95,United Kingdom,19.50,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01
1107,536526,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 12:58:00,1.95,United Kingdom,19.50,2010,12,48,2010-12,12,1,Wednesday,Q3,2010-12-01
1136,536528,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,1,2010-12-01 13:17:00,1.95,United Kingdom,1.95,2010,12,48,2010-12,13,1,Wednesday,Q3,2010-12-01